@model Category
@{
    ViewData["Title"] = "Edit Category";
}

<div class="card">
    <div class="content">
        <form method="post">

            <input type="hidden" asp-for="Id"/>

            <div class="row">

                <div class="col-md-6">
                    <label asp-for="CategoryType"></label>
                    <select asp-for="CategoryType" class="form-control" asp-items="Html.GetEnumSelectList<CategoryType>()"></select>
                    <span class="text-danger" asp-validation-for="CategoryType"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

            </div>

            <hr />

            <button type="submit" class="btn btn-warning btn-fill">
                <i class="fas fa-pencil-alt"></i> Edit
            </button>

        </form>
    </div>
</div>
