@{ 
    ViewData["Title"] = "Home";
    ViewData["DisableSearch"] = string.Empty;
    ViewData["DisableNavigation"] = string.Empty;
}

<div class="card">

    <div class="content">

        <img src="~/images/background.jpg" alt="Welcome" class="img-responsive" />

    </div>

</div>