@model RegisterViewModel
@{
    ViewData["Title"] = "Add Reseller";
}

<div class="card">
    <div class="content">

        <div asp-validation-summary="All" class="text-danger"></div>

        <form method="post">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input asp-for="TrialAccount"/>
                    <label asp-for="TrialAccount"></label>
                </div>
                <div class="col-md-4">
                    <label asp-for="TrialDays"></label>
                    <input asp-for="TrialDays" class="form-control"/>
                    <span class="text-danger" asp-validation-for="TrialDays"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="BouquetIds"></label>
                    <select class="form-control" asp-for="BouquetIds" asp-items="@(new SelectList(ViewBag.Bouquets, "Id", "Name"))"></select>
                    <span class="text-danger" asp-validation-for="BouquetIds"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input asp-for="AddMag" />
                    <label asp-for="AddMag"></label>
                </div>
                <div class="col-md-3">
                    <input asp-for="AddEnigma" />
                    <label asp-for="AddEnigma"></label>
                </div>
                <div class="col-md-3">
                    <input asp-for="MonitorMagOnly" />
                    <label asp-for="MonitorMagOnly"></label>
                </div>
                <div class="col-md-3">
                    <input asp-for="MonitorEnigmaOnly" />
                    <label asp-for="MonitorEnigmaOnly"></label>
                </div>
            </div>
            <hr />
            <button type="submit" class="btn btn-success btn-fill">
                <i class="fas fa-check"></i> Add
            </button>
        </form>

    </div>
</div>
